/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  scroll-behavior: smooth;
  --color-dark: #35203b;
  --color-primary: #500480;
  --color-text-gray: hsl(0, 0%, 25%);
  --bg-gradient: linear-gradient(90deg, #35203b -118.5%, #500480 100%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: auto;
  }
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
  }
}

/* base styles */

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.btn {
  border: none;
  min-width: 17px;
  height: 54px;
  padding: 14px 36px;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
}

.btn--primary {
  background-image: var(--bg-gradient);
  color: #fff;
}

.container {
  width: min(1280px, 100% - 2rem);
  margin-inline: auto;
}

.lead {
  width: min(60ch,100%);
  margin-block: 1rem;
}

.header {
  width: 100%;
  height: auto;
  position: relative;
}

.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 1rem;
}

.nav {
  width: 100%;
  height: 70px;
}

.nav__wrapper {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav__item {
  text-align: center;
  margin-inline-start: 3rem;
  margin-block: 1rem;
}

@media screen and (max-width: 1024px) {
  .nav__item {
    margin-inline-start: 1.5rem;
  }
}

.nav__link {
  font-weight: 500;
  text-decoration: none;
  color: var(--color-dark);
  transition: color 500ms ease;
}

.nav__link:hover {
  color: var(--color-primary);
}

.toggle {
  z-index: 99;
  display: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle__button {
  width: 30px;
  height: 30px;
  background-color:#fbfbfb;
  border:none;
  display:flex;
  justify-content:center;
  align-items:center;
}

.toggle__button.close {
  display: none;
}

.toggle__button.open {
  display: none;
}

.toggle__icon {
}

.toggle__button.close.active {
  display: block;
}

.toggle__button.open.active {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 75vw;
    height: 100vh;
    background-color: #000;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0 2rem;
    transform: translateX(100%);
    transition: transform 500ms ease;
    z-index: 99;
  }

  .nav__wrapper.active {
    transform: translateX(0);
  }

  .nav__item {
    text-align: left;
  }

  .nav__link {
    color: #fff;
  }

  .toggle {
    display: block;
  }
  .toggle__button.open {
    display: block;
  }
}

.main {
  width: 100%;
  height: auto;
}

.main__wrapper {
  width: 100%;
  height: auto;
  min-height: 700px;
  max-height: auto;
  display: flex;
  flex-wrap:wrap;
}

.main__body {
  flex:0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 100%;
  margin-top: 70px;
}

.content__heading {
  width: min(85%, 100%);
  font-size: clamp(2.2rem,4vw,3rem);
  font-weight: 600;
}

.content__heading .highlight {
  color: var(--color-primary);
}

.content .lead {
  width: min(60ch, 100%);
  font-size: 0.875rem;
  color: var(--color-text-gray);
}

.ratings {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 2rem;
  gap: 1rem 1.5rem;
}

.rating {
  position: relative;
  flex: 0 1 190px;
  height: 160px;
}

.rating__figure {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #333;
  position: relative;
}

.rating__figure::after {
  content: "";
  width: 100%;
  height: 50%;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    0deg,
    #35203b 0%,
    rgba(53, 32, 59, 0.3) 100%
  );
}

.rating__body {
  margin-block-start: -35%;
  padding-inline-start: 1rem;
  position: relative;
  z-index: 34;
}

.rating__body .stars {
}

.rating__body .description {
  font-size: 0.875rem;

  color: #fff;
}

.main__figure {
  flex:0 1 50%;
  position: relative;
}

.main__figure .figure {
  width: min(600px, 100%);
  padding: 1rem;
}

@media screen and (max-width:1024px){
  .main{
    margin-block-end: 2rem;
  }

  .main__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .main__body {
    text-align: center;
  }

  .content {
    margin-top: 30px;
  }

  .content .lead, .content__heading {
    margin-inline: auto;
  }

  .main__figure {
    height:400px;
  }

  .main__figure .figure {
    width:360px;
    height: 100%;
  }

  .ratings {
    justify-content: center;
    margin-block-start: 3rem;
  }
}

@media screen and (max-width:520px) {
  .main__figure .figure {
    width:100%;
    padding:0;
  }
}
.main__social {
}

.about,
.services {
  width: 100%;
  height: auto;
  margin-block-end: 2rem;
}

.about__header,
.services__header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about__heading,
.services__heading {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--color-primary);
}

.about__wrapper {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__content {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about__content .lead {
  width: min(66ch, 100%);
}

.services__wrapper {
  width: 100%;
}

.services__cards {
  margin-block-start: 2rem;
  width: 100%;
  display: flex;
  min-height: 400px;
  height:auto;
  gap:2rem;
}

.card {
  flex: 0 1 50%;
}
.card:nth-of-type(2) {
  align-self: flex-end;
}

.card__header {
  width: 100%;
  margin-block-end: 1rem;
}

.card__body {
  max-width: 45ch;
  margin-block-end: 2rem;
}

.card__heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-primary);
}

@media screen and (max-width:1024px) {
  .services__cards{
    flex-direction: column;
  }

  .card__header{
    margin-block-end: 0.5rem;
  }

  .card__body {
    margin-block-end: 0.875rem;
  }
  .card__heading {
    font-size: 1.125rem;
  }
}

.testimonial {
  width: 100%;
  height: auto;
  margin-block-end: 2rem;
}

.testimonial__wrapper {
  width: 100%;
  min-height: 600px;
  padding-block-start: 2rem;
}

.testimonial__header {
  width: 100%;
  margin-block-end: 40px;
}

.testimonial__heading {
  font-size: 2rem;
  color: var(--color-dark);
  font-weight: 500;
}

.testimonial__body {
  width: 100%;
  height:auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 500px;
  align-items: stretch;
  justify-content: space-between;
}

.quotecard{
  display: flex;
  flex:1 1 378px;
  background: #f4f7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:2rem 1rem;
  background-color: #cbcbcb;
  border-radius: 8px;
}

.quotecard__figure {
  margin-block: 1.5rem;
}

.quotecard__content {
  flex-grow: 1;
  font-size: 0.875rem;
  text-align: center;
  padding-block-start: 2rem;
}

.quotecard__name {
  font-size: 0.875rem;
  color: var(--color-dark);
}

.footer {
  width: 100%;
  height: auto;
  background-image: linear-gradient(97.08deg, #0e0325 5.27%, #160141 105.49%);
}

.footer__wrapper {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  align-items: stretch;
  padding-block-start: 3rem;
  margin-block-end: 25px;
  justify-content: space-between;
}

.footer__group {
  flex: 0 1 250px;
  font-weight: 300;
  gap:1rem;
}


.footer__heading,
.footer__input-label,
.footer__group .logo {
  margin-block-end: 2.5rem;
}
.footer__heading {
  font-size: 1rem;
  font-weight: 500;
}

.footer__item {
  display: block;
  margin-block-end: 2rem;
}

.footer__link {
  color: #fff;
  display: block;
  text-decoration: none;
  margin-block-end: 1rem;
}

.footer__input-label {
  display: block;
  font-size: 1.125rem;
}

.footer__input-group {
  display: flex;
  flex-wrap: wrap;
}

.footer__input {
  border: none;
  height: 40px;
  display: block;
  flex: 1 1 245px;
  border-radius: 6px;
  font-size: 0.75rem;
  padding-inline: 1rem;
  padding-block: 0.85rem;
  margin-block: 0.85rem;
}

.footer__input-btn {
}

.newsletter {
}

@media screen and (max-width:920px) {
  .footer__wrapper{
    flex-direction: column-reverse;
  }

  .footer__group {
    flex: 0 1 180px;
  }

  .footer__item {
    margin-block-end: 0.5rem;
  }

  .footer__heading,
  .footer__input-label,
  .footer__group .logo {
    margin-block-end: 1rem;
  }

  .footer__input-group {
    gap:1rem
  }

  .footer__input {
    flex: 0 1 245px;
  }
}

@media screen and (max-width:520px) {
  .newsletter{
    margin-block-end: 2rem;
  }
}


.footnote__wrapper {
  width: 100%;
  height: 60px;
  color: #fff;
  font-weight: 400;
  font-size: 0.875rem;
  margin-block-end: 2rem;
  padding-block-start: 1rem;
  display: flex;
  gap:1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  border-block-start: 0.8px solid #ffffff;
  
}

.back-to-top {
  position:fixed;
  bottom:10%;
  right:5%;
  padding:0.5rem 0.875rem;
  background-color:transparent;
  border: 1px solid #ffffff;
  border-radius:4px;
  cursor:pointer;
  background-image: linear-gradient(97.08deg, #0e0325 5.27%, #160141 105.49%);
}

@media screen and (max-width:1024px) {
  .back-to-top {
   padding:0.475rem 0.675rem;
  }
}

.hidden {
  display:none;
}